# Build & Temporary Files
*.b64
*.mp4
*.wav
*.ab
.idea/
.gradle/
build/
app/build/
__pycache__/
*.pyc
.env
.venv/
env/
venv/
*.log

appcall-fake-backend/uploads/*
!appcall-fake-backend/uploads/.gitkeep
